# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db